<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=konstantinkononenko;AccountKey=/W4s5Ur9KZ+EjwSO91MGOcmZYW6dy6wbJjXsAixnOP0ZPFamo7vdBBzt73uhWantyaJxjGNWc4zjelSjlfhh7A==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>